

        :root{

            --black-text:rgba(33, 33, 33, 1);
            --blue-text: rgba(33, 150, 243, 1);
            --gray-text:rgba(117, 117, 117, 1);
            --white-text: rgba(255, 255, 255, 1);
            
            --transparent-text06:rgba(255, 255, 255, 0.6);
            
            --header: rgba(255, 255, 255, 1);
            --footer: rgba(47, 48, 58, 1);
            
            --booton: rgba(245, 244, 250, 1);
            
            --background: rgba(47, 48, 58, 1);
            
            
            }





.header{
    background-color:rgba(255, 255, 255, 1) ;}

.font{
    font-family:  'Roboto', sans-serif; 
}


/*CCЫЛКИ ДЛЯ КЛАССА КОНТЕЙНЕР*/

.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;}

    img{
        display: block;
    }



    /*header*/



.header-nav, .nav-list, .contacts-list, .nav{
display: flex;
}
.header-nav, .nav{
    justify-content: space-between;
    align-items: center;
    
    
}
.nav-list a{

    padding-top: 32px;
    padding-bottom: 32px;
    
}
.nav-list li{
    margin-right: 50px;
    

}
.nav-list{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 93px;
    padding-left: 0px;
}
.nav-list li:last-child{
    margin-right: 0px;}

.contacts-list {margin:0px;
padding: 0px;
list-style: none;
}
.contacts-list a{
    padding-top: 32px;
    padding-bottom: 32px;
}

.contacts-list li:last-child{
    margin-left: 50px;
}
.header{border-bottom: 1px solid rgba(236, 236, 236, 1);}




.text{
    padding-top: 24px;
    padding-bottom: 25px;
}


.text{
    font-family:'Raleway', sans-serif; 
    color:rgba(33, 33, 33, 1) ;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;}

    
    .webtext{
        color:rgba(33, 150, 243, 1) ;
    }

a.menu-link{
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;}

   .menu-link:hover, .menu-link:focus, .menu-link:active{color:rgba(33, 150, 243, 1) ;}
 .menu-link.current{color:rgba(33, 150, 243, 1);
    
    font-size: 14px;
    text-decoration: none;}

.email{
    color: rgba(117, 117, 117, 1);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.email:hover {color:rgba(33, 150, 243, 1) ;}




/*HERO*/


    .section1 {
    background-color:rgba(47, 48, 58, 1) ;
    padding: 200px 0;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)
    ),url('../IMG/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    

}


.list-icon{
    display: flex;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color:rgba(245, 244, 250, 1);
    margin-bottom: 30px;
    text-align: center;
    padding: 25px 102px;
}

.icon{
    width: 65.32px;
    height: 70px;
}


    .Clients{
    padding-top: 94px;
    padding-bottom: 94px;
}

 .clients-list{
        display: flex;
        margin: 50px -15px 0;
        flex-wrap: wrap;
        padding: 0px;
       
    }


    .clients-list li{
        
    display: flex;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    height: 90px;
    width: 170px;
    margin: 0px 15px;
    justify-content: center;
}
.clients-list li:hover{
    border-color:rgba(33, 150, 243, 1);
}

    .list-logos{
        padding: 22px 63px;
    }

    .list-logos a{
        fill:rgba(175, 177, 184, 1);

    }
    .list-logos a:hover{
     fill:rgba(33, 150, 243, 1);
    }

  .footer-social{
      display: flex;
      justify-content: space-between;
      margin-left: 50px;

  }
  .footer-social p{
      margin: 0px;
      font-size: 14px;
      font-weight: 700;
      font-family:'Roboto', sans-serif;
      color:rgba(255, 255, 255, 1);
      

      
  }

.titlemain{
    text-align: center;
    margin: 0 auto;
    
    
}
.bottons_hero{
    display: block;
    text-align: center;
    border-radius: 4px;
    border:none;
    margin: 0 auto;
    margin-top: 30px;
}


.boxes{
    display: flex;
    padding-left: 0px;
    list-style:none;
    margin: 0px;

}
.section-box{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-work{
    padding-bottom: 94px;
}
.comand-box{
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.pfoff{
    padding: 30px 20px;
}



.boxes li{
    width: 270px;

}
.boxes li:not(:last-child){
    margin-right: 30px;}


    .tittleimg{
        text-align: center;
        margin-bottom: 50px;
        margin: 0 auto;
        margin-bottom: 50px;
    
    }

    .workphotos {
        display: flex;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
        
        
        

    }
    .workphotos li:not(:last-child){
        margin-right:30px; 
        list-style: none;
    }


.bottons_hero{
    color:rgba(255, 255, 255, 1);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    height: 50px;
    line-height: 30px;
    letter-spacing: 0.06em; 
    background-color: rgba(33, 150, 243, 1);
}



.titlemain{
    color: rgba(255, 255, 255, 1);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    align-items: center;}



.box{margin-top: 0px;
margin-bottom: 0px;}

 .p1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

    .textcomand{
        text-align: center;
        margin-bottom: 50px;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    
    .comand {
        display: flex;
        padding: 0px;
        margin: 0 auto;

    

    }

    .comand li{
        box-shadow:  0px 2px 1px 0px rgba(0, 0, 0, 0.2), 
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
         0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    max-width: 270px;
background-color: rgba(255, 255, 255, 1);
;
       
    }
    .comand li:not(:last-child){
        margin-right: 30px;
    }
    .human{
        text-align: center;
        margin-bottom: 10px;
        margin-top: 0px;

    }
    .profession{
        text-align: center;
        margin: 0 auto;
    }

    .item{
        border: 1px solid rgba(238, 238, 238, 1);
    }
    .work{
        margin: 0px;
        margin-bottom:4px ;
    }
    .web{
    margin: 0px;
    }
    




.box{
    color:rgba(33, 33, 33, 1) ;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.p1{
color: rgba(117, 117, 117, 1);
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
}

    .tittleimg{
color: rgba(33, 33, 33, 1);
font-weight: 700;
font-size: 36px;
line-height: 42.19px;
letter-spacing: 0.03em;
align-items: center;
}

.comand-box{
    background-color:rgba(245, 244, 250, 1) ;
}

.textcomand{ 
    color: rgba(33, 33, 33, 1);
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    align-items: center;

}

.human{
    color: rgba(33, 33, 33, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    align-items: center;
}
.profession{
    color:rgba(117, 117, 117, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    align-items: center;
}
 /*FOOTER*/

 .footer{
     margin: auto;
 }


 .textfooter{
     margin: 0 auto;

     
 }
 address{
     margin-top: 20px;
 }
 .adress{
     margin: 0 auto;
     margin-bottom: 9px;
     
 }
 .email{
     margin: 0 auto;
     padding-left: 0px;
 }
 .email li:first-child{
     margin: 0 auto;
     margin-bottom: 9px;
     
 }
 
 
 
footer{
    background-color: rgba(47, 48, 58, 1);
    padding-top: 60px;
    padding-bottom: 60px;
}

.textfooter{
    font-family:'Raleway', sans-serif; 
    color: white;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}

    .adress{
        color: white;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }

/*MAIN страницы портфолио*/

.btns-list{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-left: 0px;

}
    .btns-list .btn{
        border-radius: 4px;
        border: none;
     padding: 6px 22px;
    }
    .buttonss{
        margin-right: 8px;
    }
.buttonss:last-child{
    margin-right: 0px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
padding-left: 0px;
padding-right: 0px;
margin-top: 50px;
margin-bottom: 0px;

}
.tex{
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}

.flex-container li{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

}


.flex-container li:nth-child(3n) {
    margin-right: 0;
}
.flex-container li:nth-last-child(-n+3){
    margin-bottom:0;
}
    








    .btn{
        font-family: 'Roboto', sans-serif; 
        color: rgba(33, 33, 33, 1);
        background-color: rgba(245, 244, 250, 1);
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.03em; 
        align-items: center; 
    }
    .btn:hover, .btn:focus {background-color:rgba(33, 150, 243, 1) ;
        color:rgba(255, 255, 255, 1);}
    



    .work{
        
        color: rgba(33, 33, 33, 1);
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em; 
        text-decoration: none;
    }
    
    .web{
         
        color: rgba(117, 117, 117, 1);
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em; 
    
        
    }
    li{
        list-style-type: none;
        
    }
    .a{display: block;}
    .classa{ text-decoration: none;}

    .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;}



